.base {
  background: #fff;
  padding: 16px;
  -webkit-box-shadow: 2px 0 4px 0 rgba(0,0,0,.15);
  box-shadow: 2px 0 4px 0 rgba(0,0,0,.15);
  position: relative;
  .inner {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
  }
  .nextBtn {
    position: absolute;
    right: 0;
    top:0;
    height: 100%;
    background: #fff;
    outline: none;
  }
  .prevBtn {

  }
}