@import '../../Styles/vars.scss';

.base {
  .section {
    .header {
      border-bottom: 1px solid #e3e4e5;
      a {
        height: 76px;
        display: flex;
        font-size: 22px;
        text-decoration: none;
        color: $colorLink;
        padding: 0 10px;
        align-items: center;
        font-weight: bold;
        span {
          display: block;
        }
      }
    }
    .content {
      position: relative;
    }

    &.active {
      .header {
        a {
          background-color: #fff;
          color: $colorPrimary;
        }
      }
    }
  }
}