@import '../../Styles/vars.scss';

.base {
  display: block;
  img {
    display: block;
    width: 104px;
    height: 104px;
    transition: all .2s ease-in-out;
  }
}

@media (max-width: $breakPoint) {
  .base {
    img {
      width: 77px;
      height: 77px;
    }
  }
}