.CartButton {
  position: relative;
  display: block;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  .Icon {
     width: 43px;
     display: inline-block;
     padding: 3px 12px 0 0;
  }
  .Count {
     position: absolute;
     top:0;
     right: 0;
     display: block;
     background: darkslateblue;
     color: #fff;
     border: 2px solid #fff;
     text-align: center;
     width: 28px;
     height: 28px;
     font-size: 18px;
     font-weight: 600;
     line-height: 28px;
     border-radius: 999px;
  }
}