@import '../../Styles/vars.scss';

.base {

  .relatedResources {
    max-width: $containerWidth;
    margin: -96px auto 0 auto;
    position: relative;
    z-index: 2;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: block;
      li {
        display: inline-block;
        margin-right: 16px;
        a {
          display: inline-block;
          font-weight: 200;
          font-size: 22px;
          line-height: 96px;
          height: 96px;
          padding: 0 32px;
          text-decoration: none;
          background-color: #e3e4e5;
          color: $colorLink;
          border-radius: 3px 3px 0 0;
        }
        &.active {
          a {
            background-color: #fff;
            color: $colorLinkActive;
          }
        }
      }
    }

    .Container {
      background-color: #fff;
    }
  }
}